# API keys and secrets
.env

# Dependencies
node_modules
package-lock.json

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist

# Logs
*.log
logs

# Rports and temp files
test/**/report
test/unit/coverage/
test/performance/results/
!test/performance/results/.keep
.scannerwork/

# Chart packages
*.tgz
requirements.lock

